@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* @plugin "daisyui"; */

.mx-w-auto {
    max-width: 100rem;
    margin-inline: auto;
}



* {
    font-family: "Roboto", sans-serif;
}




.active-route-dashboard.active {
    background-color: #288647;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    position: relative;
    z-index: 2;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    transform: translateX(30px);
    transition: all 0.3s ease-in-out;
    color: #243144;
}


.card-bg {
    background-color: #288647;
}